<div class="card">
  <div class="card-body">

    <!-- mobile layout -->
    <div class="d-block d-md-none">
      <!-- menu for mobile display -->
      <div class="hide-on-landscape">
        <ul class="nav nav-pills nav-justified" role="tablist">
          <li class="nav-item">
            <button (click)="summaryDisplay = !summaryDisplay;" class="nav-link btn-default"
                    [ngClass]="{'active' : summaryDisplay}">Summary
            </button>
          </li>
          <li class="nav-item">
            <button (click)="summaryDisplay = !summaryDisplay" class="nav-link btn-default"
                    [ngClass]="{'active' : !summaryDisplay}">Map
            </button>
          </li>
        </ul> <!-- end of mobile display menu -->
        <br>
        <!-- sidebar toggle controls -->
        <div class="row">
          <div class="col-sm-8"></div>
          <div class="col-sm-2">
            <div class="row">
              <!-- filter toggle -->
              <button type="button"
                      class="btn btn-default" [ngClass]="{'active':  sidebarContent === activitySidebarTypes.Filter}"
                      aria-label="Left Align" (click)="toggleSidebar(activitySidebarTypes.Filter);"
              >
                <i class="fa fa-filter grow" [ngClass]="{'active': sidebarOpen}"></i>
              </button>
              <!-- attribute toggle -->
              <button type="button"
                      class="btn btn-default" [ngClass]="{'active': sidebarContent === activitySidebarTypes.Attribute}"
                      aria-label="Left Align" (click)="toggleSidebar(activitySidebarTypes.Attribute);">
                <i class="fa fa-edit grow" [ngClass]="{'active': sidebarOpen}"></i>
              </button>
            </div>
          </div>
        </div> <!-- end of sidebar toggle controls -->
      </div>

<!-- mobile content -->
      <div *ngIf="sidebarOpen && sidebarContent === activitySidebarTypes.Filter" class="hide-on-landscape">
        <app-filter-list [activity]="activity"></app-filter-list>
      </div>
      <div *ngIf="sidebarOpen &&  sidebarContent === activitySidebarTypes.Attribute" class="hide-on-landscape">
        <app-attribute-container></app-attribute-container>
      </div>
      <div *ngIf="!sidebarOpen && sidebarContent === activitySidebarTypes.NoContent">
        <div class="hide-on-landscape">
          <div [hidden]="summaryDisplay==false">
            <app-summary-panel
              [ActivitySport]="ActivitySport"
              [ActivitySubSport]="ActivitySubSport"
              [activity]="activity"
              [unfilteredActivity]="unfilteredActivity">
            </app-summary-panel>
          </div>

          <div [hidden]="summaryDisplay==true">
            <app-map-container></app-map-container>
          </div>

        </div>
      </div>
      <div class="hide-on-portrait">
        <app-activity-graph-container></app-activity-graph-container>
      </div>

    </div> <!--end of mobile layout -->

    <!-- desktop layout -->
    <div class="d-none d-md-block">
      <div class="wrapper">

        <div class="main-content">
          <!-- toolbar -->
          <div class="row">
            <div class="col-md-11"></div>
            <div class="col-md-1">

              <div class="row">
                <!-- filter toggle -->
                <span id="filterCount" class="fa-2x has-badge fa-stack" attr.data-count="{{filterCount}}">
                <button type="button"
                        id="filterToggle"
                        class="btn btn-default"
                        [ngClass]="{'active': sidebarOpen && sidebarContent === activitySidebarTypes.Filter}"
                        aria-label="Left Align" (click)="toggleSidebar(activitySidebarTypes.Filter)">
                  <i class="fa fa-filter grow" [ngClass]="{'active': sidebar.panelOpen}"></i>
                </button>
                  </span>
                <!-- attribute toggle -->
                <button type="button"
                        id="attributeToggle"
                        class="btn btn-default"
                        [ngClass]="{'active': sidebarOpen && sidebarContent === activitySidebarTypes.Attribute}"

                        aria-label="Left Align" (click)="toggleSidebar(activitySidebarTypes.Attribute)">
                  <i class="fa fa-edit grow" [ngClass]="{'active': sidebar.panelOpen}"></i>
                </button>
              </div>
            </div>
          </div><!-- end toolbar -->
          <app-summary-panel
            [ActivitySport]="ActivitySport"
            [ActivitySubSport]="ActivitySubSport"
            [activity]="activity"
            [unfilteredActivity]="unfilteredActivity">
          </app-summary-panel>
          <app-activity-graph-container></app-activity-graph-container>
          <app-map-container></app-map-container>
        </div>

        <app-sidebar [panelOpen]="sidebarOpen" (messageEvent)="receiveMessage($event)">
          <div *ngIf="sidebarContent === activitySidebarTypes.Filter">
            <!--<app-filter-container [activity]="activity" (changeEvent)="receiveMessage($event)">-->
              <app-filter-list  id="filterList"[activity]="activity" (changeEvent)="receiveMessage($event)"></app-filter-list>
            <!--</app-filter-container>-->
          </div>
          <div *ngIf="sidebarContent === activitySidebarTypes.Attribute">
            <app-attribute-container></app-attribute-container>
          </div>
        </app-sidebar>
      </div>

    </div>

  </div>


</div>
