@media (orientation:landscape) {
  .hide-on-landscape {
    display: none;
  }
}

@media (orientation:portrait) {
  .hide-on-portrait {
    display: none;
  }
}

.wrapper {
  display: flex;
  align-items: stretch;
}



.main-content {
  /*width: 75%;*/
  /*float: left;*/
  width: 100%;
  padding: 15px;

}

.main-content[toggle=true] {
  position: absolute;
  width: calc(100% - 250px);
  margin-right: 250px;
  transition: all 0.5s;
}

/deep/ button:hover i.fa {
  color:#9b0722;
}

/deep/ .btn.btn-default.active,
/deep/ .btn.btn-default:active {
  color: #fff;
  background-color: powderblue;
  outline: none;
}
/deep/ .btn:hover{
  cursor: pointer;
}

/deep/ .grow { transition: all .2s ease-in-out; }
/deep/ .grow:hover { transform: scale(1.1); }


.fa-stack[data-count]:after{
  position:absolute;
  top:1rem;
  right:1.5rem;
  content: attr(data-count);
  font-size:30%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width:1.5em;
  font-weight:bold;
}
