@media (orientation:landscape) {
  .hide-on-landscape {
    display: none;
  }
}

@media (orientation:portrait) {
  .hide-on-portrait {
    display: none;
  }
}

.wrapper {
  display: flex;
  align-items: stretch;
}



.main-content {
  /*width: 75%;*/
  /*float: left;*/
  width: 100%;
  padding: 15px;
  overflow:hidden;
}

.main-content[toggle=true] {
  position: absolute;
  width: calc(100% - 250px);
  margin-right: 250px;
  /*transition: all 0.3s;*/
}

.btn-sm {
  background-color:transparent;
}

.btn-sm.active{
  background-color: #cccccc;

}
/*/deep/ button:hover i.fa {*/
  /*color:#9b0722;*/
/*}*/

/*/deep/ .btn.btn-default.active,*/
/*/deep/ .btn.btn-default:active {*/
  /*color: #fff;*/
  /*background-color: powderblue;*/
  /*outline: none;*/
  /*border: transparent;*/
/*}*/
/deep/ .btn:hover{
  cursor: pointer;
}

.btn.btn-default{
  z-index: 0;
}
/deep/ .grow { transition: all .2s ease-in-out; }
/deep/ .grow:hover { transform: scale(1.1); }


.badge-notify{
  background: #ff6266;
  border-radius: 999px;
  font-size:30%;
  position:relative;
  color: white;
  top: -5px;
  left: -30px;
  height: 15px;
  z-index: 1;
}

.popover-header{
  font-weight: 700 !important;
}

.popover-body{
  font-weight: 400 !important;
}

