<div *ngIf="!signupSuccess">
  <form class="form-signup" novalidate [formGroup]="signupForm" (ngSubmit)="submitSignup()">
    <img class="mb-4" src="../../assets/images/logo_only.png" alt="" width="64" height="64">
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
    <div class="row">
      <div class="col-md-6">
        <label for="inputFirstName" class="sr-only">First Name</label>
        <input type="text" id="inputFirstName" formControlName="firstName" class="form-control" placeholder="First name"
               autocomplete="given-name"
               required>
      </div>
      <div class="col-md-6">
        <label for="inputLastName" class="sr-only">Last Name</label>
        <input type="text" id="inputLastName" formControlName="lastName" class="form-control" placeholder="Last name"
               autocomplete="family-name"
               required>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" formControlName="username" class="form-control" placeholder="Email address"
               autocomplete="email"
               required>
      </div>
        <div class="col-md-6">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" formControlName="password" class="form-control"
                 placeholder="Password"
                 autocomplete="new-password"
                 required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="inputPasswordConfirm" class="sr-only">Password Confirm</label>
          <input type="password" id="inputPasswordConfirm" name="passwordConfirm" formControlName="passwordConfirm"
                 class="form-control" placeholder="Password confirm"
                 autocomplete="new-password"
                 required>
        </div>
      </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="signupForm.invalid">Sign up</button>
    <br>
    <!-- SIGNUP ERROR MESSAGE DISPLAY -->
    <div *ngIf="signupErrorMessage" class="errorMessage">
      {{ signupErrorMessage }}
      <div *ngIf="signupErrorMessage==='An account with the given email already exists.'">
        <button class="btn btn-sm btn-secondary btn-block" type="button" (click)="resendConfirm()">Resend Code</button>
      </div>
    </div>
    <!-- RESEND CONFIRM CODE ERROR MESSAGE DISPLAY -->
    <div *ngIf="resendConfirmErrorMessage" class="errorMessage">
      {{ resendConfirmErrorMessage }}
      <div *ngIf="resendConfirmErrorMessage==='User is already confirmed.'">
        <a routerLink="/forgot">
          <button class="btn btn-sm btn-secondary">Reset Password</button>
        </a>
        <a routerLink="/signin">
          <button class="btn btn-sm btn-secondary">Sign In</button>
        </a>
      </div>
    </div>

    <!-- VALIDATION -->
    <div
      class="alert alert-danger"
      *ngIf="signupForm.get('username').hasError('required') && signupForm.get('username').touched">
      Username is required
    </div>
    <div
      class="alert alert-danger"
      *ngIf="signupForm.get('username').hasError('email') && signupForm.get('username').touched">
      not a valid email address
    </div>
    <!-- password validation error -->
    <div
      class="alert alert-danger"
      *ngIf="signupForm.get('password').hasError('required') && signupForm.get('password').touched">
      Password is required
    </div>
    <div
      class="alert alert-danger"
      *ngIf="signupForm.get('password').hasError('pattern') && signupForm.get('password').touched">
      Password must be at least 8 characters, and contain a mixture of upper case, lower case and number characters
    </div>
    <div
      class="alert alert-danger"
      *ngIf="signupForm.errors?.mismatch && (signupForm.controls['passwordConfirm'].dirty || signupForm.controls['passwordConfirm'].touched)">
      Passwords must match
    </div>
    <div
      class="alert alert-danger"
      *ngIf="signupForm.get('firstName').hasError('minLength') && signupForm.get('firstName').touched">
      First name must be at least 2 characters
    </div>
    <div
      class="alert alert-danger"
      *ngIf="signupForm.get('lastName').hasError('minLength') && signupForm.get('lastName').touched">
      Last name must be at least 2 characters
    </div>

    <hr>
    Already have an account ? <a routerLink="/signin"> Sign In</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
  </form>
</div>

<!-- CONFIRM CODE FORM -->
<div *ngIf="signupSuccess">
  <form class="form-confirm" novalidate [formGroup]="confirmForm" (ngSubmit)="submitConfirm()">
    <img class="mb-4" src="../../assets/images/logo_only.png" alt="" width="64" height="64">
    <h1 class="h3 mb-3 font-weight-normal">Enter validation code:</h1>

    <label for="validationCode" class="sr-only">Enter code:</label>
    <input type="text" id="validationCode" formControlName="validationCode" class="form-control" placeholder="Code"
           required>

    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="confirmForm.invalid">Confirm</button>
    <br>

    <!-- ERROR MESSAGE DISPLAY -->
    <div *ngIf="confirmErrorMessage" class="errorMessage">
      {{ confirmErrorMessage }}
      <div *ngIf="confirmErrorMessage==='User is already confirmed.'">
        <a routerLink="/forgot">
          <button class="btn btn-sm btn-secondary">Reset Password</button>
        </a>
        <a routerLink="/signin">
          <button class="btn btn-sm btn-secondary">Sign In</button>
        </a>
      </div>
    </div>

    <!-- VALIDATION -->
    <div
      class="alert alert-danger"
      *ngIf="confirmForm.get('validationCode').hasError('required') && confirmForm.get('validationCode').touched">
      Validation code is required
      <button class="btn btn-sm btn-secondary btn-block" type="button" (click)="resendConfirm()">Resend Code</button>
    </div>


    <hr>
    Already have an account ? <a routerLink="/signin"> Sign In</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
  </form>
</div>

<ng-template #confirmSuccessModal>
  <div class="modal-header">
    <h4 class="modal-title">Success</h4>
  </div>
  <div class="modal-body">
    <p>Registration successful</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-md btn-primary btn-block" (click)="gotoLogin()">Go to Login</button>
    <button type="button" class="btn btn-md btn-primary" (click)="closeModal()">Close</button>
  </div>
</ng-template>
