<div class="card" *ngIf="activity" >
  <div class="card-body">

    <mgl-map #map
      [style]="'https://tiles.stadiamaps.com/styles/osm_bright.json'"
      [zoom]="11"
      [center]="center"
    >
      <mgl-layer
        id="activityLine"
        type="line"
        [source]="activityTrack"
        [paint]="{
      'line-color': '#e30000',
      'line-width': 2
    }"
      ></mgl-layer>

      <mgl-control
        mglScale
        unit="metric"
        position="top-right"
      >
      </mgl-control>

      <mgl-control
        mglNavigation
        position="bottom-right"
      ></mgl-control>


    </mgl-map>

  </div>
</div>
