<div class="wrapper">
<div class="row">
</div>
<div class="row">
  <div class="col-md-12">
    <h3 class="text-center font-weight-bold">Activity Filters</h3>
  </div>
</div>
<app-filter #filt [title]="'Speed'" [filters]="filters$ | async" (changeEvent)="receiveMessage($event)">
  <app-filter-speed [activity]="activity" (changeEvent)="receiveMessage($event)"></app-filter-speed>
</app-filter>

  <app-filter #filt [title]="'Hr Zone'" [filters]="filters$ | async" (changeEvent)="receiveMessage($event)">
    <app-filter-hrzone [activity]="activity" [userZoneBoundaries]="[120, 140, 160, 170]"
                       (changeEvent)="receiveMessage($event)"></app-filter-hrzone>
  </app-filter>
</div>
