export const environment = {
  production: {{isProdProfile}},
  amplify: {
    Auth: {
      // region: 'us-west-2',
      // userPoolId: 'us-west-2_FrH0UdrNz',
      // userPoolWebClientId: '755f5d0elsg5ie96116540qm3u',
      region: '{{region}}',
      userPoolId: '{{userPoolId}}',
      userPoolWebClientId: '{{userPoolWebClientId}}',
      mandatorySignIn: true,
      authenticationFlowType: 'USER_PASSWORD_AUTH'
    },
    API: {
      'aws_appsync_graphqlEndpoint': '{{graphQlEndpoint}}',
      'aws_appsync_region': '{{appSyncRegion}}',
      'aws_appsync_authenticationType': 'AMAZON_COGNITO_USER_POOLS'
    }
  },
  domain: '{{domain}}',
  api: '{{apiEndpoint}}',
  graphql: '{{graphQlEndpoint}}',
  ws: '{{wsEndpoint}}';

};
