<div class="container">
  <div class="wrapper">
    <a><span class="fa fa-chevron-circle-down pull-right"></span></a>
      <h5 class="logo-color">Timeline</h5>
    <br>
    <app-series-control id="seriesControl" (changeEvent)="receiveMessage($event)" [seriesKey]="seriesKey"></app-series-control>
    <app-d3-line #graph [width]="600" [height]="300" [chartOptions]="chartOptions" [xAxisData]="activity.getValues().getTsList()" [data]="chartData()"
    [seriesData]="chartData()" [seriesKey]="seriesKey" [filteredIndices]="filteredIndices"></app-d3-line>
    <app-x-axis-control id="xAxisControl" (changeEvent)="receiveMessage($event)" [axisKeys]="['hh:mm:ss', 'ss', 'time of day']"></app-x-axis-control>
  </div>

</div>
