.segment {
  fill: #99fac8;
  /*fill: white;*/
  stroke-width: 0.05em;
  stroke: black;
}

.segment:hover {
  fill: #ffa9e6;
}

.selected_segment {
  fill: red;
}

.arc-axis {
  fill: None;
  stroke: black;
  stroke-dasharray: 2;
  stroke-width: 0.01em;
}

.axis--x path {
  display: none;
}

.axis--x text {
  text-anchor: middle;
  /*// fill: darkgray; */
  font-size: 8px;
}

.axis--x.tick text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 7pt;
}

.a-axis{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 7pt;
}

.tick line{
  visibility:hidden;
}


