@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

.navbar{
  background-color: floralwhite !important;
}
.logo-font{
  font-family: "Fjalla One", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #52A6D5;
  /*background-color: #52A6D5;*/
  /*color: white;*/
}

.navbar-brand :hover{
  color: #5265d5 !important;
}

.navbar-nav {
  z-index: 2000 !important;
}

.dropdown:hover>.dropdown-menu {
  display: block;
  position: absolute;
  right: 40px;
  top: -6px;
  z-index: 1500;
}
