.card {
  /*background-color: lightskyblue;*/
  /*border-color: #333;*/
  border: none;
  width: 170px;
  height: 200px;
  margin-outside: 20px;
}
.no-gutter-card > .card {
  margin: 0;
}
.fa{
  font-size: 11px;
}
.text-body {
  fill: #434343;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.popover-header{
  font-weight: 700 !important;
}

.popover-body{
  font-weight: 400 !important;
}

