<div id="metadata-panel" *ngIf="activity | async">
  <!-- desktop layout -->
<div class="row d-none d-md-flex">
  <div class="col-md-3 hidden-md-down">
      <span  class="activity-type activity-stat bold">{{((ActivitySport[(activity|async)?.getMeta().getSport()]) | titleCase) | removeUnderscore}}</span>
  </div>
<div class="col-md-2">
<span  id="activity-created-date" class="activity-created-date activity-stat bold">{{(activity|async)?.getMeta().getCreatedts() | date: 'dd MMM yyyy'}}</span>
</div>
  <div class="col-md-2">
    <span class="activity-temp activity-stat">{{ (activity|async)?.getValues().getTemperatureList()[0]!=-999 ? (((activity|async)?.getValues().getTemperatureList()[0])+ " °C" ) : ""}}</span>
  </div>
  <div class="col-md-3">
 <span class="activity-location-1 activity-stat"> {{ (activity|async)?.getMeta().getLocation().split(',')[0]}}</span>
  </div>
  <div class="col-md-2">
    <span class="activity-distance activity-stat bold">{{(activity|async)?.getSummary().getTotaldistance() > 0 ?
      (((activity|async)?.getSummary().getTotaldistance()/1000)+" Km") : ""}}</span>
  </div>
</div>
<!-- row 2 -->
<div class="row d-none d-md-flex">
  <div class="col-md-3">
    <span  class="activity-subtype activity-sub-type">{{(ActivitySubSport[(activity|async)?.getMeta().getSubsport()] | titleCase) | removeUnderscore}}</span>
  </div>
  <div class="col-md-2">
    <span  class="activity-created-ts activity-stat">{{(activity|async)?.getMeta().getCreatedts() | date: 'HH:mm:ss' }} </span>
  </div>
  <div class="col-md-2">
<!-- empty slot -->
  </div>

  <div class="col-md-3">
    <span  class="activity-location-2 activity-stat">
    {{(activity|async)?.getMeta().getLocation().substr(
  (activity|async)?.getMeta().getLocation().split(',')[0].length+1,(activity|async)?.getMeta().getLocation().length) }}
      </span>
  </div>
  <div class="col-md-2">
    <span class="activity-timer activity-stat bold">{{(activity|async)?.getSummary().getTotaltimer() | interval }}</span><span class="activity-stat-label"> hh:mm:ss</span>
  </div>
</div>



<!-- mobile layout -->
  <div class="row d-flex d-md-none">
    <div class="col-sm-6">
      <span class="activity-type activity-stat bold">{{((ActivitySport[(activity|async)?.getMeta().getSport()]) | titleCase) | removeUnderscore}}</span>
      <span class="activity-subtype activity-sub-type">{{(ActivitySubSport[(activity|async)?.getMeta().getSubsport()] | titleCase) | removeUnderscore}}</span>
    </div>
  </div>
  <div class="row d-flex d-md-none">
    <div class="col-sm-6">
      <span  class="activity-created-date activity-stat bold">{{(activity|async)?.getMeta().getCreatedts() | date: 'dd MMM yyyy'}}</span>
      <span class="activity-created-ts activity-stat">{{(activity|async)?.getMeta().getCreatedts() | date: 'HH:mm:ss' }} </span>
    </div>
  </div>
  <div class="row d-flex d-md-none">
    <div class="col-sm-6">
      <span class="activity-temp activity-stat">{{ (activity|async)?.getValues().getTemperatureList()[0]!=-999 ? (((activity|async)?.getValues().getTemperatureList()[0])+ " °C" ) : ""}}</span>
    </div>
  </div>
  <div class="row d-flex d-md-none">
    <div class="col-sm-12">
      <span  class="activity-location-1 activity-stat"> {{ (activity|async)?.getMeta().getLocation().split(',')[0]}}</span>
    </div>
  </div>
  <div class="row d-flex d-md-none">
    <div class="col-sm-12">
      <span  class="activity-location-2 activity-stat">
    {{(activity|async)?.getMeta().getLocation().substr(
  (activity|async)?.getMeta().getLocation().split(',')[0].length+1,(activity|async)?.getMeta().getLocation().length) }}
      </span>
    </div>
  </div>
  <div class="row d-flex d-md-none">
    <div class="col-sm-6">
    <span  class="activity-distance activity-stat bold">{{(activity|async)?.getSummary().getTotaldistance() > 0 ?
      (((activity|async)?.getSummary().getTotaldistance()/1000)+" Km") : ""}}</span>
      <span class="activity-timer activity-stat bold">{{(activity|async)?.getSummary().getTotaltimer() | interval }}</span><span class="activity-stat-label"> hh:mm:ss</span>
    </div>
  </div>

</div>
