.axis--x.axis-bottom path {
  display: block !important;
}

.tick line{
  visibility:visible !important;
}

.axis-left line{
  stroke-width: 0.5px;
  z-index: 1000;
}

.axis-left path {
  stroke-width: 0.5px;
  z-index: 1000;
}

.axis-left text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 7pt;
}

.axis-right line{
  stroke-width: 0.5px;
  z-index: 1000;
}

.axis-right path {
  stroke-width: 0.5px;
  z-index: 1000;
}

.axis-right text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 7pt;
}

.line.left-axis-series  {
  fill: none !important;
  stroke-width: 1px !important;
}

.line.right-axis-series  {
  fill: none !important;
  stroke-width: 1px !important;
}

.line.axis-series  {
  fill: none !important;
  stroke-width: 1px !important;
  z-index: 500;
}

.line.axis-series hover {
  fill: none !important;
  stroke-width: 1px !important;
  z-index: 500;
}
