<!-- metadata panel -->
<div class="card">
  <app-summary-metadata></app-summary-metadata>
</div>
<div class="container">

  <!-- desktop layout -->
<div class="row d-none d-md-flex">
  <!-- heart rate box plot -->
  <!--<div class="col-md-2">-->
    <!--<div class="card " style="background-color: lightskyblue; border-color: #333;">-->
        <!--<h6 class="card-title ">Heart Rate</h6>-->
        <!--<h6 class="card-subtitle mb-2 text-muted">bpm</h6>-->
        <!--<div class="card-body">-->
          <!--<app-d3-boxplot [width]="80" [height]="100"  [data]="hrData"></app-d3-boxplot>-->
        <!--</div>-->
      <!--</div>-->
  <!--</div>-->
  <!-- speed box plot -->
  <div class="col-md-2">
    <div class="card " style="background-color: lightskyblue; border-color: #333;">
      <h6 class="card-title ">Speed</h6>
      <h6 class="card-subtitle mb-2 text-muted">Km/h</h6>
      <div class="card-body">
        <app-d3-boxplot [width]="80" [height]="100"  [data]="speedData"></app-d3-boxplot>
      </div>
    </div>
  </div>
</div>

 <!-- mobile layout -->
  <div class="row d-flex d-sm-none">
    <!-- heart rate box plot -->
    <!-- TODO -> ADD LOGIC TO ONLY SHOW THESE COMPONENTS IF THEY HAVE DATA IN THE hasAttributeMap
     (currently this is not populated -->
    <!--<div *ngIf="{{ activity.getSummary().getHasattributemapMap().get('hr')==true; }}"></div>-->
    <!--<div class="col-sm-3">-->
      <!--<div class="card " style="background-color: lightskyblue; border-color: #333;">-->
        <!--<div class="card-body">-->
          <!--<h6>Heart Rate </h6><h6 class="text-muted">bpm</h6>-->
          <!--<app-d3-boxplot [width]="60" [height]="60"  [data]="hrData"></app-d3-boxplot>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!-- speed box plot -->
    <div class="col-sm-3">
      <div class="card " style="background-color: lightskyblue; border-color: #333;">
          <div class="card-body">
            <h6>Speed </h6><h6 class="text-muted">Km/h</h6>
            <app-d3-boxplot [width]="60" [height]="60"  [data]="speedData"></app-d3-boxplot>
          </div>
        </div>
    </div>
  </div>

</div>


