<!-- metadata panel -->
<div class="card" *ngIf="activity">
  <app-summary-metadata [activity]="activity" [ActivitySubSport]="ActivitySubSport" [ActivitySport]="ActivitySport"></app-summary-metadata>
</div>
<div class="container">

  <!-- desktop layout -->
<div class="row d-none d-md-flex">
  <!-- heart rate box plot -->
  <!--<div class="col-md-2">-->
    <!--<div class="card " style="background-color: lightskyblue; border-color: #333;">-->
        <!--<h6 class="card-title ">Heart Rate</h6>-->
        <!--<h6 class="card-subtitle mb-2 text-muted">bpm</h6>-->
        <!--<div class="card-body">-->
          <!--<app-d3-boxplot [width]="80" [height]="100"  [data]="activity.getValues().getHrList()"></app-d3-boxplot>-->
        <!--</div>-->
      <!--</div>-->
  <!--</div>-->
  <!-- speed box plot -->
  <div class="col-md-2">
    <app-infographic [title]="'Speed'" [icon]="'fa-tachometer'" [uom]="'Km/h'">
      <app-d3-boxplot [width]="80" [height]="100"  [data]="activity.getValues().getSpeedList()"></app-d3-boxplot>
    </app-infographic>
  </div>
  <!-- ascent / descent -->
  <div class="col-md-2">
    <app-infographic [title]="'Ascent/Descent'" [icon]="'fa-arrows-v'" [uom]="''">
      <app-ascent-descent [uom]="'m'" [uomRate]="'m/min'" [activity]="activity"></app-ascent-descent>
    </app-infographic>
  </div>

  <!-- stop / moving-->
  <div class="col-md-2">
    <app-infographic [title]="'Stop/Moving'" [icon]="'fa-stop-circle'" [uom]="'mins'">
      <app-moving-stop [data]="[activity.getSummary().getTotalmoving(),activity.getSummary().getTotalstopped()]" [stopCount]="activity.getSummary().getStopcount()"></app-moving-stop>
      <!--<app-d3-bar [width]="100" [height]="100" [data]="[30,6]" [yLabel]="'mins'" [xLabels]="['Moving',' Stop']"></app-d3-bar>-->
    </app-infographic>
  </div>
</div>

 <!-- mobile layout -->
  <div class="row d-flex d-sm-none">
    <!-- heart rate box plot -->
    <!-- TODO -> ADD LOGIC TO ONLY SHOW THESE COMPONENTS IF THEY HAVE DATA IN THE hasAttributeMap
     (currently this is not populated -->
    <!--<div *ngIf="activity.getSummary().getHasattributemapMap().get('hr')===true"></div>-->
    <!--<div class="col-sm-3">-->
      <!--<div class="card " style="background-color: lightskyblue; border-color: #333;">-->
        <!--<div class="card-body">-->
          <!--<h6>Heart Rate </h6><h6 class="text-muted">bpm</h6>-->
          <!--<app-d3-boxplot [width]="60" [height]="60"  [data]="hrData"></app-d3-boxplot>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!-- speed box plot -->
    <div class="col-sm-3">
      <app-infographic [title]="'Speed'" [icon]="'fa-tachometer'" [uom]="'Km/h'">
        <app-d3-boxplot [width]="80" [height]="100"  [data]="activity.getValues().getSpeedList()"></app-d3-boxplot>
      </app-infographic>
  </div>
    <!-- ascent / descent -->
    <div class="col-sm-3">
      <app-infographic [title]="'Ascent/Descent'" [icon]="'fa-arrows-v'" [uom]="''">
        <app-ascent-descent [uom]="'m'" [uomRate]="'m/min'" [activity]="activity"></app-ascent-descent>
      </app-infographic>
    </div>

</div>
</div>


